<div class="col-6 col-lg-4">
    <div class="profile">
        <div class="profile-pic"><img src="/images/profile-pic.png"></div>
        <div class="profile-title"><h4>Michael</h4></div>
        <div class="profile-edit"><a href="#">Edit Profile</a></div>
    </div>
</div>
<div class="col-12 col-sm-6 col-lg-8">
    <div class="notification-heading"><h4>Notifications <img class="help-icon" src="/images/icons/tooltip.png"></h4></div>
    <div class="col-6 col-sm-4 traveller-pic"><img src="/images/traveller-pic.png"></div>
    <div class="col-6 col-sm-4 notification-text">
        Fredrick cancelled your booking
        <div><img src="/images/icons/clock-icon.png"> Jan 23rd / 9:15 AM</div>
    </div>
    <div class="col-6 col-sm-4 listing-details">59 Holiday Time Rd, Port Hacking, NSW 2093 / July 1st - July 15th</div>
    <div class="col-6 col-sm-4 action-btns">
        <a href="/" class="btn btn-primary" role="button">View Details</a>
    </div>
</div>

<div class="col-12 col-sm-6 col-lg-8">
    <div class="notification-heading"></div>
    <div class="col-6 col-sm-4 traveller-pic"><img src="/images/traveller-pic.png"></div>
    <div class="col-6 col-sm-4 notification-text">
        Grace accepted your booking
        <div><img src="/images/icons/clock-icon.png"> Mar 13th / 11:23 PM</div>
    </div>
    <div class="col-6 col-sm-4 listing-details">60 Mackay St, Port Hacking, NSW 2093 / July 1st - July 15th</div>
    <div class="col-6 col-sm-4 action-btns">
        <a href="/" class="btn btn-primary" role="button">View Details</a>
    </div>
</div>