<div class="col-6 col-lg-4">
    <div class="profile">
        <div class="profile-pic"><img src="/images/profile-pic.png"></div>
        <div class="profile-title"><h4>Michael</h4></div>
        <div class="profile-edit"><a href="#">Edit Profile</a></div>
    </div>
</div>
{{> notifications}}